.row(id="content")
	each product in products
		.col-md-3
			a(href="#" data-toggle="modal", data-target="#myModal"+product._id)
				i.fas.fa-edit.mr-5
			a(href="products/delProduct/" + product._id)
						i.fas.fa-times
			.card
				image.card-img-top(src=product.anhsp,style='width:100%',alt="Card image")
				.card-body
					h4.card-title= product.tensp
					p.card-title= product.gia
					p.card-text= product.tomtatsp
					a.btn.btn-primary(href='cart/add/' + product._id) Add to card
		div(class="modal", id="myModal" + product._id)
					.modal-dialog
						.modal-content
							.modal-header
								h4.modal-title Edit Product
								button(type="button" class="close" data-dismiss="modal") &times;
							.modal-body
								form(action="products/edit/"+ product._id, method="post", enctype='multipart/form-data')
									.form-group
										label Tên Sản Phẩm
										input.form-control(type="text", name="tensp", value =product.tensp)
									.form-group
										label Gía
										input.form-control(type="text", name="gia", value=product.gia)
									.form-group
										label Mô Tả
										input.form-control(type="text", name="tomtatsp", value=product.tomtatsp)
									.form-group
										label Ảnh SP
										input.form-control-file(type="file", name="anhsp")
										img.col-md-6(src=product.anhsp)
									button.btn.btn-primary.ml-3.pl-3 Edit